
<script type="text/javascript">
	top.location.href = '{{ redirectionUrl | raw }}';
</script>

<noscript>
	<a class="button unzercw-continue-button" href="{{ redirectionUrl | raw}}" target="_top">{{ UnzerCw_Translate('Continue') }}</a>
</noscript>
